<%- include('../layout/head', {judul: 'Matakuliah'}) %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
          <a href="/admin">
            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
            </svg>
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Mata Kuliah</li>
      </ol>
    </nav>
    <h2 class="h2">List Mata Kuliah</h2>
  </div>
</div>
<section>
  <div class="row">
    <div class="col-lg-12">
      <button style class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#modal-tambahmatkul">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        Tambah</button
      >        <a class="btn btn-info" type="button" href="/admin/lihat-laporan"> Laporan</a><br /><br />
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover" id="table1">
              <thead>
                <tr>
                  <th scope="col">Kode Mata kuliah</th>
                  <th scope="col">Nama Mata Kuliah</th>
                  <th scope="col">SKS</th>
                  <th scope="col">Semester</th>
                  <th scope="col">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% matkul.forEach(mtkl => { %>
                <tr>
                  <input type="hidden" name="id" value="<%= mtkl.id %>" />
                  <td><%= mtkl.code %></td>
                  <td><%= mtkl.name %></td>
                  <td><%= mtkl.credit %></td>
                  <td><%= mtkl.semester %></td>
                  <td>
                    <a class="btn btn-info" type="button" href="/admin/dosen-<%=mtkl.id%>">Dosen</a>
                  </td>
                </tr>
                <%}) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="modal fade" id="modal-tambahmatkul" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="h6 modal-title">Tambah Matakuliah</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/admin/tambahmatkul" method="post">
            <div class="modal-body">
              <label>Pilih Kurikulum </label>
              <div class="form-group">
                <select class="form-select" name="kurikulum" required>
                  <% kurikulum.forEach(kurikulum => { %>
                  <option value="<%= kurikulum.id %>"><%= kurikulum.name %></option>
                  <% }) %>
                </select>
              </div>
              <label>Kode Mata Kuliah </label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Masukkan kode mata kuliah" name="kodeMatkul" required />
              </div>
              <label>Nama Mata Kuliah </label>
              <div class="form-group">
                <input type="text" placeholder="Masukkan nama mata kuliah" name="nama" required class="form-control" />
              </div>
              <label>Alias</label>
              <div class="form-group">
                <input type="text" placeholder="Masukkan alias" name="alias" required class="form-control" />
              </div>
              <label>Jumlah SKS</label>
              <div class="form-group">
                <select class="form-select" name="SKS" required>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
              <label>Semester</label>
              <div class="form-group">
                <select class="form-select" name="semester" required>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
              </div>
              <label>Deskripsi</label>
              <div class="form-group">
                <input type="text" placeholder="Masukkan deskripsi" name="deskripsi" required class="form-control" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-light-secondary">
                <i class="bx bx-x d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Reset</span>
              </button>
              <button type="submit" class="btn btn-primary ml-1">
                <i class="bx bx-check d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Tambah</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<div>
  <br>
  <br>
</div>

<%- include('../layout/foot') %>
