<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
  </head>
  <body>
    <h1>RPS Pemograman Web</h1>
    <h3>Lihat referensi</h3>
    <p>Buku : <%=datas.tittle%></p>
    <p>Penulis : <%=datas.author%></p>
    <p>Penerbit : <%=datas.publisher%></p>
    <p>Tahun : <%=datas.year%></p>
    <p>Deskripsi : <%=datas.description%></p>
  </body>
</html>
